services:
  order-command-api:
    build:
      context: ./apps/order-command-api
      dockerfile: Dockerfile.dev
    container_name: order_command_api
    volumes:
      - ./apps/order-command-api:/app
      - order-command-node-modules:/app/node_modules
    environment:
      - NODE_ENV=development
      - DATABASE_URL=${DATABASE_URL_COMMAND}
      - KAFKA_BROKERS=${KAFKA_BROKERS}
      - KAFKA_CLIENT_ID=${KAFKA_COMMAND_CLIENT_ID}
      - KAFKA_TOPIC_EVENTS=${KAFKA_TOPIC_EVENTS}
    networks:
      - order_network
    ports:
      - "3000:3000"
      - "5555:5555"
    depends_on:
      - db
      - kafka
    restart: unless-stopped

  # order-query-api:
  #   build:
  #     context: ./apps/order-query-api
  #     dockerfile: Dockerfile.dev
  #   container_name: order_query_api
  #   volumes:
  #     - ./apps/order-query-api:/app
  #     - order-query-node-modules:/app/node_modules
  #   environment:
  #     - NODE_ENV=development
  #     - DATABASE_URL=${DATABASE_URL_QUERY}
  #     - KAFKA_BROKERS=${KAFKA_BROKERS}
  #     - KAFKA_CLIENT_ID=${KAFKA_QUERY_CLIENT_ID}
  #     - KAFKA_TOPIC_EVENTS=${KAFKA_TOPIC_EVENTS}
  #     - KAFKA_GROUP_ID=${KAFKA_QUERY_GROUP_ID}
  #   networks:
  #     - order_network
  #   ports:
  #     - "3001:3001"
  #     - "5556:5555"
  #   depends_on:
  #     - db
  #     - kafka
  #   restart: unless-stopped

  # payment-worker:
  #   build:
  #     context: ./apps/payment-worker
  #     dockerfile: Dockerfile.dev
  #   container_name: payment_worker
  #   volumes:
  #     - ./apps/payment-worker:/app
  #     - payment-worker-node-modules:/app/node_modules
  #   environment:
  #     - NODE_ENV=development
  #     - KAFKA_BROKERS=${KAFKA_BROKERS}
  #     - KAFKA_CLIENT_ID=${KAFKA_PAYMENT_CLIENT_ID}
  #     - KAFKA_TOPIC_EVENTS=${KAFKA_TOPIC_EVENTS}
  #     - KAFKA_GROUP_ID=${KAFKA_PAYMENT_GROUP_ID}
  #     - RABBITMQ_URL=${RABBITMQ_URL}
  #     - RABBITMQ_QUEUE_CHARGE_PAYMENT=${RABBITMQ_QUEUE_CHARGE_PAYMENT}
  #     - RABBITMQ_QUEUE_CHARGE_PAYMENT_DLQ=${RABBITMQ_QUEUE_CHARGE_PAYMENT_DLQ}
  #   networks:
  #     - order_network
  #   depends_on:
  #     - kafka
  #     - rabbitmq
  #   restart: unless-stopped

  db:
    build: ./db
    container_name: order_db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
      # - ./db/init:/docker-entrypoint-initdb.d:ro
    networks:
      - order_network
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped
  # rabbitmq:
  #   image: rabbitmq:3-management-alpine
  #   container_name: rabbitmq
  #   environment:
  #     RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
  #     RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
  #   networks:
  #     - order_network
  #   ports:
  #     - "5672:5672"
  #     - "15672:15672"
  #   healthcheck:
  #     test: [ "CMD-SHELL", "rabbitmq-diagnostics -q ping" ]
  #     interval: 5s
  #     timeout: 5s
  #     retries: 20
  #   restart: unless-stopped

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    networks:
      - order_network
    ports:
      - "9094:9094"
    volumes:
      - kafka-data:/var/lib/kafka/data
    environment:
      # KRaft
      - CLUSTER_ID=${CLUSTER_ID}

      - KAFKA_NODE_ID=${KAFKA_NODE_ID}
      - KAFKA_PROCESS_ROLES=${KAFKA_PROCESS_ROLES}
      - KAFKA_CONTROLLER_LISTENER_NAMES=${KAFKA_CONTROLLER_LISTENER_NAMES}
      - KAFKA_CONTROLLER_QUORUM_VOTERS=${KAFKA_CONTROLLER_QUORUM_VOTERS}

      # Listeners
      - KAFKA_LISTENERS=${KAFKA_LISTENERS}
      - KAFKA_ADVERTISED_LISTENERS=${KAFKA_ADVERTISED_LISTENERS}
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=${KAFKA_LISTENER_SECURITY_PROTOCOL_MAP}
      - KAFKA_INTER_BROKER_LISTENER_NAME=${KAFKA_INTER_BROKER_LISTENER_NAME}

      # Single broker
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=${KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR}
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=${KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR}
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=${KAFKA_TRANSACTION_STATE_LOG_MIN_ISR}
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=${KAFKA_AUTO_CREATE_TOPICS_ENABLE}

      # Make log dir explicit (helps some setups)
      - KAFKA_LOG_DIRS=/var/lib/kafka/data
    restart: unless-stopped

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka_ui
    depends_on:
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    networks:
      - order_network
    ports:
      - "8080:8080"
    restart: unless-stopped

networks:
  order_network:
    driver: bridge

volumes:
  db-data:
  kafka-data:
  order-command-node-modules:
  order-query-node-modules:
  payment-worker-node-modules:
